<div class="top-about">
  <div id = "app-title">
    <h1 class = "title-app about-page">About</h1><br>
    <div id = "background-opaque">
    <p>If you're one of those people who have a hard time deciding what to watch on movie, my cinema is for you. The application
     provides you with either a movie or a show based on your genre preference. The choice that my cinema selects for you can either be
     saved into your collection or discarded for another choice. The application is easy to use and keeps track of all the movies and shows you've
     decided to save as part of your collection. my cinema allows you to view your statistics and helps you keep track of what you've watched.
     Information about movies and shows shown on this application was pulled from <a href= "https://www.themoviedb.org/" target="_blank">The Movie Database</a>.</p>
  </div>
</div>
</div>

<div class="bottom">
  <div id = "popcorn-img">
    <img class = "img-rounded pull-left" src = "/images/popping_icon.png" alt="popcorn">
  </div>
  <div id = "quote">
  <!-- <p> Life moves pretty fast. If you don’t stop and look around once in a while, you could miss it. </p>
  <p> – Ferris (Ferris Bueller’s Day Off) </p> -->
</div>
</div>
