<h1> Welcome Back! </h1>
<h2> Login </h2>
<div class = "login-form login">
<form method = "post" action = "/login">
  <!-- Name: <input type = "text" name = "name"><br><br> -->
  Username: <input type = "text" name = "username"><br><br>
  Password: <input type = "password" name = "password"><br><br>
  <!-- Email: <input type = "text" name = "email"><br><br> -->
  <input type = "submit" value = "Log in">
</form>
</div>


{{#if error}}
  <div class = "error-user"> {{error}} </div>
{{/if}}

<div class = "bottom-register">
  <div id = "popcorn-img">
    <img class = "img-rounded pull-left" src = "/images/popping_icon.png" alt="popcorn">
  </div>
</div>

<!-- {{#if user}}
  <div class = "user"><br>Logged in as {{user.username}}</div>
{{/if}} -->
