<div class="top-about">
  <div id = "app-title">
    <h2 class = "title-app">Signed Out</h2>
    <h2 class = "title-sub"><em>You've successfully signed out. Thanks for visiting.</em></h2>
  </div>
</div>
<div class="bottom">
  <div id = "popcorn-img">
    <img class = "img-rounded pull-left" src = "/images/popping_icon.png" alt="popcorn">
  </div>
</div>
